/* CART */
.cart section{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20rem 0;
}
@media (max-width: 62rem){
  .cart section{
    margin: 15rem 0;
  }
}
@media (max-width: 48rem){
  .cart section{
    margin: 12rem 0;
  }
}