/* CONTACT */

.contact{
  h2{
    margin: 3rem 20%;
  }
  .contact__form {
    margin: 3rem 20%;
    .form-floating{
      margin-top: .5rem;
    }
  }
}

@media (max-width: 48rem){  
  .contact{
    h2{
      margin: 3rem 1rem;
    }
    .contact__form {
      margin: 4rem 1rem;
    }
  }
}