/* TERMS AND PRIVACY */
#content{
  margin: 1rem 12rem;
  .row{
    :is(h2, h3, h4){
      justify-content: flex-start;
    }
    p{
      justify-content: flex-start;
      text-align: start;
    }
  }
}
@media (max-width: 62rem){
  /* PRIVACY and TERMS */
  #content{
    margin: 1rem 2rem;
  }
}